@model IEnumerable<IGrouping<string, Kafejka.Models.MenuItem>>


@{
    ViewData["Title"] = "Menu";
}

<h1>Menu kawiarni</h1>

<p>
    <a asp-action="Create">Dodaj pozycje</a>
</p>

@foreach (var group in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>@group.Key.ToUpper()</th>   @* wypisywanie grupy *@
                <th>@Html.DisplayNameFor(model => model.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in group)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price) zł</td>
                    @if (User.IsInRole("Administrator"))
                    {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
}
