@model IEnumerable<Kafejka.Models.Transaction>

@{
    ViewData["Title"] = "Wizyty";
}

<h1>Twoje wizyty</h1>
<br />
<a asp-action="Create" class="btn btn-primary">Dodaj kod</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator")) 
            {
                <th>Użytkownik</th>
            }
            <th>Kod</th>
            <th>Kwota</th>
            <th>Data Zakupu</th>
            <th>Pozycje z menu</th>
            <th>Stan</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td>@item.User.UserName</td>
                }
                <td>@item.Code</td>
                <td>@item.Amount</td>
                <td>@item.PurchaseTime</td>
                <td>
                    @foreach (var transactionItem in item.TransactionItemsList)
                    {
                        for(int i=1; i<= transactionItem.Quantity; i++){
                            <p>@transactionItem.MenuItem.Name</p>
                        }
                    }
                </td>
                @if(item.Approved)
                {
                    <td>Zaakceptowane
                        @if (User.IsInRole("Administrator"))
                        {
                            <br />
                            <form asp-action="DissApprove" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-success">Dezaktywuj</button>
                            </form>
                        }
                    </td>
                }
                else
                {
                    <td>Oczekujące
                        @if (User.IsInRole("Administrator"))
                        {
                            <br />
                        <form asp-action="Approve" asp-route-id="@item.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-success">Akceptuj</button>
                        </form>
                        }
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    @if (!item.Approved || User.IsInRole("Administrator")) 
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <text>|</text>
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="color:red">Uwaga! Nie można edytować zaakceptowanych wizyt!</p>
