@model IEnumerable<Kafejka.Models.ItemType>

@{
    ViewData["Title"] = "Rodzaje pozycji";
}

<h1>Rodzaje pozycji w menu</h1>

<p>
    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Dodaj rodzaj</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
